.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
    .carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    body {
        font-size: 0.7rem !important;
    }
    .font-size-small {
        font-size: 0.6rem !important;
    }
    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }
    .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
    .carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }
    #container-create-account{
        flex-direction: column-reverse;
    }
    #title-create-account, #logo-create-account{
        margin-left: 10px !important;
    }
    .carousel-arrow {
        display: none !important;
    }
}

.text-green {
    color: #1E9E8F !important;
}

.background-green {
    background-color: #9dd4ce !important;
}

.text-purple {
    color: #833F94 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #833F94 !important;
    color: #ffffff !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #1E9E8F !important;
    color: #ffffff !important;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: transparent !important;
    border-color: #833F94 !important;
    color: #833F94 !important;
}

.input-group-text {
    border-right: 0 !important;
    color: #1E9E8F !important;
    background-color: transparent !important;
}

.dropdown-menu {
    min-width: 50% !important;
}

.display-4 {
    font-size: 2.5rem !important;
}

.img-profile {
    height: 70px;
    width: 50px;
    border-radius: 50%;
}

.img-profile-navbar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5%;
}

.profile-background {
    background: #1E9E8F;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.bl-0 {
    border-left: 0 !important;
}

.align-absolute-bottom {
    position: absolute;
    bottom: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto.ttf');
}

body {
    font-family: 'Roboto' !important;
    color: #828282 !important;
}

.label-name{
    font-size: 18px;
    margin-bottom: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #58C9B4 !important;
    background-color: #58C9B4 !important;
}

input::placeholder, option[value="0"] { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ADADAD !important;
    opacity: 1; /* Firefox */
}
  
input::-ms-input-placeholder, select::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ADADAD !important;
}
  
input::-ms-input-placeholder, select::-ms-input-placeholder { /* Microsoft Edge */
    color: #ADADAD !important;
}

.border-radius{
    border-radius: 8px;
}

.icon-edit{
    font-size: 20px;
    color: #fff;
    text-align: end;
    width: 100%;
    top: 13px;
    position: relative;
}

.grid-profile{
    display: grid !important;
    grid-template-columns: 250px 1fr;
    width: 100%;
    grid-template-rows: 200px 200px;
    row-gap: 25px;
    column-gap: 50px;
}

.grid-profile .profile-background {
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.grid-profile .img-profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -30px;
    font-size: 0.95rem !important;
}

.font-size-small {
    font-size: 0.7rem !important;
}

.vw-50 {
    width: 50vw !important;
}