.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
    .carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }
}
@media (max-width: 768px) {
    body {
        font-size: 0.7rem !important;
    }
    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }
    .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
    .carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }
    .carousel-arrow {
        display: none !important;
    }
}

.text-green {
    color: #1E9E8F !important;
}


.background-green {
    background-color: #9dd4ce !important;
}

.text-purple {
    color: #833F94 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #833F94 !important;
    color: #ffffff !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #1E9E8F !important;
    color: #ffffff !important;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: transparent !important;
    border-color: #833F94 !important;
    color: #833F94 !important;
}

.input-group-text {
    border-right: 0 !important;
    color: #1E9E8F !important;
    background-color: transparent !important;
}

.dropdown-menu {
    min-width: 50% !important;
}

.display-4 {
    font-size: 2.5rem !important;
}

.img-profile {
    height: 70px;
    width: 50px;
    border-radius: 50%;
}

.img-profile-navbar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5%;
}

.profile-background {
    background: linear-gradient(180deg, #1E9E8F 50%, transparent 50%);
    width: 100%;
}

.bl-0 {
    border-left: 0 !important;
}

.align-absolute-bottom {
    position: absolute;
    bottom: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto.ttf');
}

body {
    font-family: 'Roboto' !important;
    color: #828282 !important;
    font-size: 0.95rem !important;
}